.chat-header {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 10px 15px;
  border-bottom: 1px solid lightgray;
}

.chat-header__info {
  flex: 1;
  margin-left: 20px;
}

.chat-header__info p {
  color: gray;
}
.chat-header__info h3 {
  font-weight: 500;
}

.chat-header__right {
  display: flex;
  justify-content: space-between;
  min-width: 10vw;
  align-items: center;
}
